apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: flow-landingpage
spec:
  environments:
    - name: qa
      build:
        from: master
    - name: prod
      build: 
        from: release
  components:
    - name: redis
      image: bitnami/redis:latest
      secrets:
        - REDIS_PASSWORD
      ports:
        - name: redis
          port: 6379
    - name: web
      src: "."
      publicPort: http
      ports:
        - name: http
          port: 8080
      authentication:
        oauth2:
          setXAuthRequestHeaders: true
          sessionStoreType: redis # redis or cookie
          redisStore:
            connectionUrl: redis://redis:6379
      secrets:
        - APIM_SUB_KEY
      #variables:
      #  EPN_URI: "https://equinor-prod1.pegacloud.net/prweb/app/MaintenanceEPN/sso_login"
      #  FLX_URI: "https://equinor-prod1.pegacloud.net/prweb/app/MaintenanceFLX/sso_login"
      #  PROJECTS_URI: "https://equinor-prod1.pegacloud.net/prweb/PRAuth/app/Procurement/sso_login"
      #  EMOD_URI: "https://equinor-stg1.pegacloud.net/prweb/PRAuth/app/emod"
      environmentConfig:
        - environment: prod
          variables:
            API_BASE_URL: "https://api.gateway.equinor.com/maintenance-api/"
            EPN_URI: "https://equinor-prod1.pegacloud.net/prweb/app/MaintenanceEPN/sso_login"
            FLX_URI: "https://equinor-prod1.pegacloud.net/prweb/app/MaintenanceFLX/sso_login"
            PROJECTS_URI: "https://equinor-prod1.pegacloud.net/prweb/PRAuth/app/Procurement/sso_login"
            M5LCI_URI: "https://equinor-prod1.pegacloud.net/prweb/PRAuth/app/lciv2/"
            MSL_URI: "https://equinor-prod1.pegacloud.net/prweb/PRAuth/app/SickLeave/sso_login"
            EPF_URI: "https://equinor-prod1.pegacloud.net/prweb/PRAuth/app/EPF/sso_login"
            BL_URI: "https://equinor-prod1.pegacloud.net/prweb/PRAuth/app/blue-light/sso_login/"
            PLANSHUT_URI: "https://equinor-prod1.pegacloud.net/prweb/PRAuth/app/pit-stop/"
            EMOD_URI: "https://equinor-prod1.pegacloud.net/prweb/PRAuth/app/emod"
            FISCAL_URI: "https://equinor-prod1.pegacloud.net/prweb/PRAuth/app/fiscal-reporting"
          authentication:
            oauth2:
              clientId: d826142e-d4f6-4664-b463-6d99fc81fb90
              scope: openid profile email offline_access 1aee2186-b5f4-445a-bbf2-d28589ccb59a/MaintenanceAPIProd
        - environment: qa
          variables:
            API_BASE_URL: "https://api-test.gateway.equinor.com/maintenance-api/"
            EPN_URI: "https://equinor-stg1.pegacloud.net/prweb/app/MaintenanceEPN/sso_login"
            FLX_URI: "https://equinor-stg1.pegacloud.net/prweb/app/MaintenanceFLX/sso_login"
            PROJECTS_URI: "https://equinor-stg1.pegacloud.net/prweb/PRAuth/app/Procurement/sso_login"
            M5LCI_URI: "https://equinor-stg1.pegacloud.net/prweb/PRAuth/app/lciv2"
            MSL_URI: "https://equinor-stg1.pegacloud.net/prweb/PRAuth/app/SickLeave/sso_login"
            EPF_URI: "https://equinor-stg1.pegacloud.net/prweb/PRAuth/app/EPF/sso_login"
            BL_URI: "https://equinor-stg1.pegacloud.net/prweb/PRAuth/app/blue-light/sso_login/"
            PLANSHUT_URI: "https://equinor-stg1.pegacloud.net/prweb/PRAuth/app/pit-stop/"
            EMOD_URI: "https://equinor-stg1.pegacloud.net/prweb/PRAuth/app/emod"
            FISCAL_URI: "https://equinor-stg1.pegacloud.net/prweb/PRAuth/app/fiscal-reporting"
          authentication:
            oauth2:
              clientId: d826142e-d4f6-4664-b463-6d99fc81fb90
              scope: openid profile email offline_access ad711600-154b-4ab0-8945-06cba7f10c4b/MaintenanceAPIQA

  dnsAppAlias:
    environment: prod
    component: web
  
  dnsExternalAlias:
    - alias: flow-qa.equinor.com
      environment: qa
      component: web
    - alias: flow.equinor.com
      environment: prod
      component: web
    - alias: pega.equinor.com
      environment: prod
      component: web

