.flowlogo img{
    width: 250px;
}

.cardPics{
    width: 200px
}

.panelCards {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;     
    justify-content: center;  
    gap: 15px;
  }

.sparkly-title {
  font-weight: bold;
  font-size: 2.5rem;
  background: linear-gradient(
    90deg,
    #4a148c 0%,
    #7b1fa2 25%,
    #512da8 50%,
    #303f9f 75%,
    #4a148c 100%
  );
  background-size: 300% 100%;
  -webkit-background-clip: text;
  color: transparent;
  animation: shimmer 3s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}
