.flowlogo {
    width: 120px;
}

.navbar{
    transition: all .7s ease-in;
}

.scrolled{
    position: fixed;
    top: 0;
    left: 0;
}

.qatd{
 vertical-align: middle;   
}

.qatext{
    color: crimson;
}